<div class="tasks">
  <ng-container *ngIf="tasks.taskItems">
    <ul class="task__list">
      <ng-container *ngFor="let task of tasks.taskItems">
        <li class="task__item">
          <a
            class="task__link input__field"
            [ngClass]="{'task__link--inactive': task.status.toString().toLowerCase() === 'inactive' }"
            aria-label="go to the task page"
            [routerLink]="['/task-manager', task.id]"
          >
            <span class="task__name">{{ task.name }}</span>
            <i class="fa-solid fa-chevron-right task__icon"></i>
          </a>
        </li>
      </ng-container>
    </ul>
  </ng-container>

  <ng-container *ngIf="!tasks.taskItems">
    <div class="no-data">
      <p class="no-data__text">There's no data to be displayed</p>
    </div>
  </ng-container>
</div>
